<div class="container">
  <h1>カテゴリー名新規登録</h1>
  <div class="row">
    <div class="col-6 my-5">
      <%= render 'form', category: @category , url: admin_categories_path, submit:'登録' %>
    </div>
    <div class="col-6 my-5">
      <h4>登録一覧</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>カテゴリー</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td>
                <%= link_to "編集" , edit_admin_category_path(category) %>
              </td>
              <td>
                <%= link_to "削除" , admin_category_path(category),  method: :delete , data: { confirm: '削除しますが問題ないですか?' } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>